body #content.bootstrap {
    -webkit-transition-property:none;
    transition-property:none;
    -webkit-transition-duration:none;
    transition-duration:none;
    -webkit-transition-timing-function:none;
    -moz-transition-timing-function:none;
    -o-transition-timing-function:none;
    transition-timing-function:none;
}

body #main {
    padding:0 !important;
    margin:0 !important;
}
body .nobootstrap {
    min-width:inherit !important;
    padding:0 !important;
}
body.page-sidebar-closed #content {
    margin-left:0 !important;
    padding:30px 0 0;
}
body .bootstrap:first-of-type,
body #header,
body #footer,
body .getresponse-growler,
body .gr-wrapper .gr_sidebar,
body #ajaxBox,
body #ajax_confirmation,
.lightboxContainer,
body .bootstrap,
body .modal {
    display:none !important;
}
body #content.bootstrap,

body .col.gr_content {
    display:block !important;
}
.gr-wrapper .form-horizontal {
    padding: 20px 20px 0;
}
body #main,
.gr-wrapper .gr_content {
    padding: 0px 0px 0;
    width: 660px;
}
.gr-wrapper .FullSelectLcContainerDefault div.FullSelectLcContainerList ul.list {
    max-height: 110px;
}