.content {
    background-color: #fff;
    background-image: none;
}

.c-top {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}

.mf {
    background: #F6F6F6 url(../img/bg.gif) repeat 0 0;
}

.c-left {
    width: 475px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 0 25px 50px;
}
.c-right {
    width: 475px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 30px 0 20px;
}
.c-left h4 {
    font-size: 18px;
    font-weight: 300;
    color: rgb(37,37,37);
    line-height: 1.333;
    padding: 15px 40px 55px 0;
    border-right: 1px solid #dfdfdf;
}

.c-right h4 {
    font-size: 18px;
    font-weight: 300;
    color: rgb(37,37,37);
    line-height: 1.333;
    padding: 15px 30px 40px 20px;
    text-align: center;
}

.c-left h4 b,
.c-right h4 b {
    color: #00afec;
    font-weight: bold;
}

.c-left h4 + form {
    border-right: 1px solid #dfdfdf;
    padding: 0 40px 20px 0;
}

.FormsEffectLc .txtField,
.selCont,
.textAreaField,
.FormsEffectLc .txtField .fS-Bd,
.FormsEffectLc .selCont .fS-Bd {
    border-radius: 0;
}

.FormsEffectLc .txtField .fS-Bd,
.FormsEffectLc .selCont .fS-Bd {
    border-color: #fff;
}

.FormsEffectLc .txtField {
    border: 1px solid #c1c1c1;
    -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
}

.FormsEffectLc .txtField:hover {
    border: 1px solid #0093D0;
}

.fS-Bd {
    position: relative;
}


.FormsEffectLc ul {
    width: auto;
}
.FormsEffectLc ul:after,
.simple .FormsEffectLc .fieldLine:after,
.content-in:after {
    display: block;
    content: " ";
    clear: both;
}
.FormsEffectLc .fieldLine {
    width: 420px;
}

.FormsEffectLc .txtField,
.selCont,
.textAreaField {
    width: 79%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.simple .FormsEffectLc label {
    /*width: 15%;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    color: #00afec;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 8px 0 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.simple input[type="submit"] {
    background: #00ABE3;
    background: -moz-linear-gradient(top, #00c4fe 0%, #00abe3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00C4FE), color-stop(100%,#00ABE3));
    background: -webkit-linear-gradient(top, #00C4FE 0%,#00ABE3 100%);
    background: -o-linear-gradient(top, #00c4fe 0%,#00abe3 100%);
    background: -ms-linear-gradient(top, #00c4fe 0%,#00abe3 100%);
    background: linear-gradient(to bottom, #00C4FE 0%,#00ABE3 100%);
}

.simple input[type="submit"]:hover {
    background: #1AB4E6;
    background: -moz-linear-gradient(top, #1acafe 0%, #1ab4e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ACAFE), color-stop(100%,#1AB4E6));
    background: -webkit-linear-gradient(top, #1ACAFE 0%,#1AB4E6 100%);
    background: -o-linear-gradient(top, #1acafe 0%,#1ab4e6 100%);
    background: -ms-linear-gradient(top, #1acafe 0%,#1ab4e6 100%);
    background: linear-gradient(to bottom, #1ACAFE 0%,#1AB4E6 100%);
}

.c-right ul {
    padding: 0;
    overflow: hidden;
}

.c-right li {
    background: none;
    font: 400 11px/1.4 "Helvetica Neue", Helvetica, sans-serif;
    padding: 0;
    width: 105px;
    text-align: center;
}

.c-right li i {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    height: 79px;
    width: 79px;
    margin: 0 auto;
    padding: 0 0 18px;
}

.s-Ico01 {
    background-position: 0 0;
}

.s-Ico02 {
    background-position: -107px 0;
}

.s-Ico03 {
    background-position: -214px 0;
}

.s-Ico04 {
    background-position: -321px 0;
}

h1 {
    margin-bottom: 40px;
}
h1 span {
    color: #00afec;
}

.FormsValidateLc fieldset .tI-handleBox span {
    opacity: 0.78;
}

.c-middle {
    margin-bottom: 65px;
}

.c-bottom h2 {
    font-size: 42px;
    color: #252525;
    padding-bottom: 45px;
}

.tos *,
.c-footer * {
    font-size: 14px;
}

@media (max-width: 1020px) {
    body {
        min-width: 510px;
    }
    .content-in {
        padding: 0;
        width: auto;
    }
    .c-top {
        padding: 0 15px;
    }
    .c-bottom {
        padding: 0;
    }
    .c-left,
    .c-right h4 {
        padding-left: 0;
        padding-right: 0;
    }
    .c-left h4,
    .c-left h4 + form {
        border: none;
        padding-right: 0;
    }
    .FormsEffectLc ul {
        width: 360px;
    }
    .c-right {
        padding: 0;
        text-align: center;
        margin-bottom: 50px;
        left: 0;
    }
    .c-right ul {
        display: inline-block;
        
    }
    h1 br {
        display: none;
    }
}
@media (max-width:768px) {
    .c-left h4,
    .c-right h4 {
        padding-left: 15px;
        padding-right: 15px;
    }
}