.panel-heading-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    border: none;
    font-size: 1.2em;
    line-height: 2.2em;
    height: 2.2em;
    border-bottom: solid 1px #eee;
    padding: 0 0 0 5px;
    margin: -20px -16px 15px -16px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.icon-getresponse {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    font-size: 28px;
    background: transparent;
    background-size: 26px;
    background-position: center;
}
