/*------------------------------------*\
    PRESTASHOP RESET
\*------------------------------------*/
#getresponse #module .close {
    float:none;
}
/*------------------------------------*\
    PRESTASHOP RESET
\*------------------------------------*/
#getresponse #module .container {
    box-sizing:border-box;
    width:100%;
}
/*------------------------------------*\
    GLOBAL
\*------------------------------------*/
#getresponse #module {
    -webkit-font-smoothing:antialiased;
}
#getresponse #module ul {
    margin:0;
    padding:0;
    list-style:none;
}
#getresponse #module a {
    color:#00aff0;
}
#getresponse #module a:hover,
#getresponse #module a:focus {
    text-decoration:underline;
    color:#0077a4;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/
#getresponse {
    position:relative;
    margin-bottom:20px;
    padding:10px;
    /*max-width: 1980px;*/
}
#getresponse #module .gr_menu,
#getresponse #module .content {
    display:block;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:5px;
    background-color:#fff;
}
/*------------------------------------*\
    MENU
\*------------------------------------*/
#getresponse #module .gr_menu li:first-child {
    border-top:0;
    border-radius:5px 5px 0 0;
}
#getresponse #module .gr_menu li:last-child {
    border-radius:0 0 5px 5px;
}
#getresponse #module .gr_menu li {
    display:block;
    border-top:1px solid #ddd;
    background-color:#fff;
}
#getresponse #module .gr_menu li a {
    font-family:'Open Sans',Helvetica,Arial,sans-serif;
    font-size:12px;
    font-weight:400;
    display:block;
    padding:10px 15px;
    text-decoration:none;
    color:#555;
}
#getresponse #module .gr_menu li:hover,
#getresponse #module .gr_menu li:focus {
    background-color:#f5f5f5;
}
#getresponse #module .gr_menu li:hover a,
#getresponse #module .gr_menu li:focus a {
    color:#555;
}
#getresponse #module .gr_menu .current-menu-item,
#getresponse #module .gr_menu .current-menu-item:hover,
#getresponse #module .gr_menu .current-menu-item:focus {
    border-color:#00aff0;
    background-color:#00aff0;
}
#getresponse #module .gr_menu .current-menu-item a,
#getresponse #module .gr_menu .current-menu-item:hover a,
#getresponse #module .gr_menu .current-menu-item:focus a {
    color:#fff;
}
/*------------------------------------*\
    CONTENT
\*------------------------------------*/
#getresponse #module .content {
    padding:20px;
}
#getresponse #module h3 {
    font-family:"Ubuntu Condensed",Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:17px;
    height:auto;
    margin:-20px -16px 15px -16px;
    padding:8px 0 6px 5px;
    text-transform:none;
    text-overflow:ellipsis;
    color:#555;
    border-bottom:solid 1px #eee;
}
#getresponse #module h3::before {
    display:inline-block;
    width:15px;
    height:14px;
    margin:0 3px 0 0;
    content:'';
    vertical-align:middle;
    background:url('../img/_svg/gear-ico.svg') no-repeat;
    background-size:cover;
}
#getresponse #module h3 + p {
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight:400;
    line-height:17px;
    color:#555;
}
#getresponse #module .content .note {
    position:relative;
    margin:20px 0;
    padding:15px 15px 15px 50px;
    color:#1e94ab;
    border:none;
    border:0;
    border-left:solid 3px #4ac7e0;
    border-radius:3px;
    background-color:#dcf4f9;
}
#getresponse #module .content .note::before {
    position:absolute;
    top:50%;
    left:7px;
    display:block;
    width:30px;
    height:30px;
    content:'';
    -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
    vertical-align:middle;
    background:url('../img/_svg/note-ico.svg') no-repeat;
    background-size:cover;
}
#getresponse #module .content .show-more {
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight:400;
    display:inline-block;
}
#getresponse #module .content-in {
    position:relative;
    box-sizing:border-box;
    margin:0;
    padding:20px;
    border:solid 1px #ddd;
    border-radius:5px;
    background-color:#fff;
}
#getresponse #module .content-in h3::before {
    display:none;
}
#getresponse #module .content-in ul {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width:100%;
    margin:20px 0 10px;
    padding:0;
    list-style:none;
}
#getresponse #module .content-in ul li {
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight:400;
    display:table-cell;
    box-sizing:border-box;
    width:25%;
    margin:0;
    padding:0 5px;
    text-align:center;
    vertical-align:top;
}
#getresponse #module .content-in ul li::before {
    display:block;
    width:79px;
    height:79px;
    margin:0 auto .5rem;
    content:'';
    background:url(../img/icons.png) no-repeat;
    background-size:cover;
}
#getresponse #module .content-in ul li:nth-child(1)::before {
    background-position:0 0;
}
#getresponse #module .content-in ul li:nth-child(2)::before {
    background-position:-108px 0;
}
#getresponse #module .content-in ul li:nth-child(3)::before {
    background-position:-214px 0;
}
#getresponse #module .content-in ul li:nth-child(4)::before {
    background-position:-320px 0;
}
#getresponse #module .api-section {
    margin:0 -15px;
}
#getresponse #module .ten-reasons {
    box-sizing:border-box;
    max-width:980px;
    padding:0 10px;
}
#getresponse #module .ten-reasons .content-in {
    padding:15px 0;
}
#getresponse #module .ten-reasons > .container {
    padding:0;
}
#getresponse #module .reson {
    position:relative;
    overflow:hidden;
    margin-bottom:10px;
}
#getresponse #module .reson .reasons .reson:first-child {
    border-top:none;
}
#getresponse #module .reson h3 {
    font-family:Helvetica, Arial, sans-serif;
    font-size:23px;
    font-weight:600;
    line-height:normal;
    width:100%;
    margin:0;
    padding:0 15px;
    white-space:nowrap;
    text-transform:none;
    color:#fff;
    background:#01afec;
}
#getresponse #module .reson h3::before {
    display:none;
}
#getresponse #module .reson h3 i {
    font-size:34px;
    font-style:italic;
    display:table-cell;
    padding-right:1vw;
    vertical-align:middle;
}
#getresponse #module .reson h3 span {
    display:table-cell;
    vertical-align:middle;
    white-space:normal;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);
}
#getresponse #module .reson .img {
    width:auto;
    height:auto;
    padding-top:24%;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:100% auto;
}
#getresponse #module .reasons .reson .img {
    height:100%;
    padding:0;
}
#getresponse #module .reson.r1 .img {
    padding-top:63%;
    background-image:url(../img/01img_v2.jpg);
    background-size:100% auto;
}
#getresponse #module .reson.r2 .img {
    background-image:url(../img/02img_v2.jpg);
}
#getresponse #module .reson.r3 .img {
    background-image:url(../img/03img_v2.jpg);
}
#getresponse #module .reson.r4 .img {
    background-image:url(../img/04img_v2.jpg);
}
#getresponse #module .reson.r5 .img {
    background-image:url(../img/05img.jpg);
}
#getresponse #module .reson.r6 .img {
    background-image:url(../img/06img_v2.jpg);
}
#getresponse #module .reson.r7 .img {
    background-image:url(../img/07img_v2.jpg);
}
#getresponse #module .reson.r8 .img {
    background-image:url(../img/08img.jpg);
}
#getresponse #module .reson.r9 .img {
    background-image:url(../img/09img_v2.jpg);
}
#getresponse #module .reson.r10 .img {
    padding-top:12%;
    background-image:url(../img/10img.jpg);
}
#getresponse #module .reson.r4 h3,
#getresponse #module .reson.r5 h3,
#getresponse #module .reson.r7 h3,
#getresponse #module .reson.r8 h3 {
    font-size:16px;
}
#getresponse #module .reson .bxHover {
    position:absolute;
    z-index:2;
    top:100%;
    right:0;
    left:0;
    box-sizing:border-box;
    height:100%;
    padding:10px;
    transition:all .6s ease-in-out;
    opacity:0;
    background:#f3f3f3;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);
}
#getresponse #module .reson .bxHover h5 {
    font-family:Helvetica, Arial, sans-serif;
    font-size:18px;
    font-weight:600;
    line-height:normal;
    width:100%;
    margin:0 0 10px;
    padding:0;
    text-transform:none;
    color:#00afec;
}
#getresponse #module .reson.r4 .bxHover h5,
#getresponse #module .reson.r5 .bxHover h5,
#getresponse #module .reson.r7 .bxHover h5,
#getresponse #module .reson.r8 .bxHover h5 {
    font-size:16px;
}
#getresponse #module .reson .bxHover p {
    font-family:Helvetica,Arial,sans-serif;
    font-size:13px;
    line-height:16px;
    color:#373737;
}
#getresponse #module .reson:hover .bxHover {
    top:0;
    bottom:0;
    opacity:1;
}
#getresponse #module .reson.r1:hover .bxHover {
    top:50%;
}
#getresponse #module .reson .bxHover .btn-wrap {
    margin-top:15px;
}

#getresponse #module .reson .bxHover .bt {
    font-size:12px;
    font-weight:700;
    line-height:6px;
    display:inline;
    margin:0 5px 6px 0;
    padding:4px 11px;
    text-decoration:none;
    color:#fff;
    border-radius:5px;
    background-image:linear-gradient(#00c4fe 0,#00abe3 100%);
    box-shadow:#0077ae 0 1px 0 0;
}
#getresponse #module .reson:hover .bxHover .bt:hover {
    background:#1ab4e6;
    background:   -moz-linear-gradient(top, #1acafe 0%, #1ab4e6 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1acafe), color-stop(100%,#1ab4e6));
    background:-webkit-linear-gradient(top, #1acafe 0%,#1ab4e6 100%);
    background:     -o-linear-gradient(top, #1acafe 0%,#1ab4e6 100%);
    background:    -ms-linear-gradient(top, #1acafe 0%,#1ab4e6 100%);
    background:        linear-gradient(to bottom, #1acafe 0%,#1ab4e6 100%);
}
#getresponse #module .join-us {
    box-sizing: border-box;
    max-width: 980px;
    padding: 10px;
    padding: 50px 10px 10px;
}
#getresponse #module .join-us h2 {
    font-family:Helvetica, Arial, sans-serif;
    font-size:42px;
    font-weight:400;
    line-height:normal;
    width:100%;
    margin:0;
    padding:0;
    text-align:center;
    text-transform:none;
    color:#555;
    margin-bottom: 2rem;
}
#getresponse #module .join-us .btns {
    text-align: center;
}
#getresponse #module .join-us .btns small {
    font-family:Helvetica, Arial, sans-serif;
    color: #555;
    font-size: 14px;
    margin-top: 1rem;
}
#getresponse #module .join-us .btn {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    padding: 17px 62px;
    -webkit-transition: background-color .3s,color .3s;
    transition: background-color .3s,color .3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: .10px;
    border: 0;
    border-radius: 50px;
    background: 0 0;
    color: #00afec;
    box-shadow: 0 0 0 2px #00afec;
}

#getresponse #module .join-us .btn::before {
    position: absolute;
    z-index: -1;
    top: -25px;
    right: -25px;
    bottom: -25px;
    left: -25px;
    content: '';
    -webkit-transform: scale3d(.9,.8,1);
    transform: scale3d(.9,.8,1);
    opacity: .4;
    border-radius: 5rem;
    background: inherit
}

#getresponse #module .join-us .btn:hover {
    -webkit-transition: background-color .1s .3s,color .1s .3s;
    transition: background-color .1s .3s,color .1s .3s;
    -webkit-animation: button-animation-inner .3s forwards;
    animation: button-animation-inner .3s forwards;
    color: #fff;
    background-color: #00afec;
}

#getresponse #module .join-us .btn:hover::before {
    -webkit-animation: button-animation-outer .3s .3s forwards;
    animation: button-animation-outer .3s .3s forwards
}
#getresponse #module .join-us .btns small {
    display: block;
}
/* ==========================================================================
   Media Queries for Responsive Design.
   These styles override the primary ('mobile first') styles.
   ========================================================================== */
/* Style adjustments for viewports that meet the MAX condition */

@media only screen and (max-width: 1399px) {
    #getresponse #module .content-in ul li::before {
        width:50px;
        height:50px;
    }
    #getresponse #module .content-in ul li:nth-child(2)::before {
        background-position:-68px 0;
    }
    #getresponse #module .content-in ul li:nth-child(3)::before {
        background-position:-135px 0;
    }
    #getresponse #module .content-in ul li:nth-child(4)::before {
        background-position:-203px 0;
    }
}
@media only screen and (max-width: 1199px) {
    #getresponse #module .content-in ul {
        margin:10px 0;
    }
    #getresponse #module .content-in ul li {
        display:inline-block;
        width:50%;
        margin-top:10px;
        padding: 0 50px;
    }
    #getresponse #module .content {
        margin-top:20px;
    }
    #getresponse #module .content:first-child {
        margin-top:0;
    }
    #getresponse #module .reasons .reson .img {
        padding-top:24%;
    }
    #getresponse #module .reson.r4 .bxHover .btn-wrap,
    #getresponse #module .reson.r5 .bxHover .btn-wrap,
    #getresponse #module .reson.r7 .bxHover .btn-wrap,
    #getresponse #module .reson.r8 .bxHover .btn-wrap,
    #getresponse #module .reson.r10 .bxHover .btn-wrap {
        margin-top:5px;
    }
    #getresponse #module .reson .bxHover h5 {
        font-size:23px;
    }
    #getresponse #module .reson.r4 .bxHover h5,
    #getresponse #module .reson.r5 .bxHover h5,
    #getresponse #module .reson.r7 .bxHover h5,
    #getresponse #module .reson.r8 .bxHover h5,
    #getresponse #module .reson.r10 .bxHover h5 {
        font-size:16px;
        margin-bottom:5px;
    }
    #getresponse #module .reson .bxHover p {
        font-size:14px;
    }
    #getresponse #module .reson.r4 .bxHover p,
    #getresponse #module .reson.r5 .bxHover p,
    #getresponse #module .reson.r7 .bxHover p,
    #getresponse #module .reson.r8 .bxHover p {
        font-size:10px;
    }
    #getresponse #module .reson.r10 .bxHover p {
        font-size:12px;
    }
    #getresponse #module .api-section .api {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 979px) {
    /*------------------------------------*\
        CONTENT
    \*------------------------------------*/
    #getresponse #module .reson.r4 h3,
    #getresponse #module .reson.r5 h3,
    #getresponse #module .reson.r7 h3,
    #getresponse #module .reson.r8 h3 {
        font-size:18px;
    }
    #getresponse #module .reson h3 {
        font-size:18px;
        padding:10px;
    }
    #getresponse #module .reson h3 i {
        padding-right:10px;
    }
    #getresponse #module .reson.r4 .bxHover h5,
    #getresponse #module .reson.r5 .bxHover h5,
    #getresponse #module .reson.r7 .bxHover h5,
    #getresponse #module .reson.r8 .bxHover h5,
    #getresponse #module .reson.r10 .bxHover h5 {
        font-size:23px;
        margin-bottom:10px;
    }
    #getresponse #module .reson.r4 .bxHover p,
    #getresponse #module .reson.r5 .bxHover p,
    #getresponse #module .reson.r7 .bxHover p,
    #getresponse #module .reson.r8 .bxHover p,
    #getresponse #module .reson.r10 .bxHover p {
        font-size:16px;
    }
    #getresponse #module .reson.r4 .bxHover .btn-wrap,
    #getresponse #module .reson.r5 .bxHover .btn-wrap,
    #getresponse #module .reson.r7 .bxHover .btn-wrap,
    #getresponse #module .reson.r8 .bxHover .btn-wrap,
    #getresponse #module .reson.r10 .bxHover .btn-wrap {
        margin-top:10px;
    }
}
@media only screen and (max-width: 767px) {
    #getresponse #module .reson h3,
    #getresponse #module .reson h3 i,
    #getresponse #module .reson.r4 h3,
    #getresponse #module .reson.r5 h3,
    #getresponse #module .reson.r7 h3,
    #getresponse #module .reson.r8 h3,
    #getresponse #module .reson.r10 h3,
    #getresponse #module .reson h5,
    #getresponse #module .reson.r4 h5,
    #getresponse #module .reson.r5 h5,
    #getresponse #module .reson.r7 h5,
    #getresponse #module .reson.r10 h5, {
        font-size:16px;
    }
    #getresponse #module .join-us h2 {
        font-size:30px;
    }
    #getresponse #module .join-us .btn {
        padding: 12px 45px;
        font-size: 30px;
    }
    #getresponse #module .content-in ul li {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 479px) {
    #getresponse #module .join-us .btn {
        padding: 12px 40px;
        font-size: 24px;
    }
    #getresponse #module .reson .bxHover h5,
    #getresponse #module .reson.r4 .bxHover h5,
    #getresponse #module .reson.r5 .bxHover h5,
    #getresponse #module .reson.r7 .bxHover h5,
    #getresponse #module .reson.r8 .bxHover h5,
    #getresponse #module .reson.r10 .bxHover h5 {
        font-size:18px;
    }
    #getresponse #module .reson.r4 .bxHover p,
    #getresponse #module .reson.r5 .bxHover p,
    #getresponse #module .reson.r7 .bxHover p,
    #getresponse #module .reson.r8 .bxHover p,
    #getresponse #module .reson.r10 .bxHover p {
        font-size:14px;
    }
    #getresponse #module .reson.r10 .img {
        padding-top:24%;
        background-size: cover;
    }
    #getresponse #module .content-in ul li {
        padding: 0 5px;
    }
}
/* ==========================================================================
   Animations
   ========================================================================== */

@media only screen and (min-width: 767px) {
    .conceal {
        opacity:0
    }
    .display {
        -webkit-transition: all .4s ease-in-out forwards;
        transition: all .4s ease-in-out forwards;
        opacity: 1;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }
    .display.delay3 {
        -webkit-animation-delay: .3s;
        animation-delay: .3s
    }
    .display.duration3s {
        -webkit-animation-duration: 2s;
        animation-duration: 2s
    }
    @-webkit-keyframes button-animation-inner {
        60% {
            -webkit-transform: scale3d(.9,.9,1);
            transform: scale3d(.9,.9,1)
        }

        85% {
            -webkit-transform: scale3d(1.1,1.1,1);
            transform: scale3d(1.1,1.1,1)
        }

        100% {
            -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1)
        }
    }

    @keyframes button-animation-inner {
        60% {
            -webkit-transform: scale3d(.9,.9,1);
            transform: scale3d(.9,.9,1)
        }

        85% {
            -webkit-transform: scale3d(1.1,1.1,1);
            transform: scale3d(1.1,1.1,1)
        }

        100% {
            -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1)
        }
    }

    @-webkit-keyframes button-animation-outer {
        to {
            -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
            opacity: 0
        }
    }

    @keyframes button-animation-outer {
        to {
            -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
            opacity: 0
        }
    }
}
